In [5]:
import numpy as np
import pandas as pd

In [11]:
dataFrame=pd.read_csv('Dog_data.csv')

In [13]:
dataFrame

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [19]:
# Count Distinct Value Descending
dataFrame['Color'].value_counts()

Color
BLACK                   371
BROWN                   309
WHITE                   226
WHITE/BLACK             196
BLACK/BROWN             183
                       ...
BLACK/ORANGE/BRINDLE      1
BROWN/ORANGE              1
BROWN/FAWN                1
BLACK/BROWN/GREY          1
BROWN/LIVER               1
Name: count, Length: 72, dtype: int64

In [21]:
# Count Distinct Value Ascending
dataFrame['Color'].value_counts(ascending=True)

Color
BROWN/LIVER               1
BROWN/FAWN                1
BROWN/ORANGE              1
BLACK/ORANGE/BRINDLE      1
BLACK/BROWN/GREY          1
                       ...
BLACK/BROWN             183
WHITE/BLACK             196
WHITE                   226
BROWN                   309
BLACK                   371
Name: count, Length: 72, dtype: int64

In [25]:
# Dogs Name with NaN ---> null value in a specific cell
dataFrame['DogName'].value_counts(dropna=False)

DogName
LUCY       35
BELLA      30
BAILEY     29
BUDDY      29
DAISY      26
           ..
RAMBO       1
CHOOKIE     1
AMY         1
DEE DEE     1
GRIFFIN     1
Name: count, Length: 1429, dtype: int64

In [29]:
# Get Relative Frequencies --->Percentage
dataFrame['Color'].value_counts(normalize=True)

Color
BLACK                   13.921201
BROWN                   11.594747
WHITE                    8.480300
WHITE/BLACK              7.354597
BLACK/BROWN              6.866792
                          ...
BLACK/ORANGE/BRINDLE     0.037523
BROWN/ORANGE             0.037523
BROWN/FAWN               0.037523
BLACK/BROWN/GREY         0.037523
BROWN/LIVER              0.037523
Name: proportion, Length: 72, dtype: float64

In [49]:
print((dataFrame['Color'].value_counts(normalize=True)*100).astype(str)+' %')

Color
BLACK                   13.921200750469042 %
BROWN                   11.594746716697935 %
WHITE                     8.48030018761726 %
WHITE/BLACK              7.354596622889306 %
BLACK/BROWN              6.866791744840525 %
                                ...
BLACK/ORANGE/BRINDLE    0.0375234521575985 %
BROWN/ORANGE            0.0375234521575985 %
BROWN/FAWN              0.0375234521575985 %
BLACK/BROWN/GREY        0.0375234521575985 %
BROWN/LIVER             0.0375234521575985 %
Name: proportion, Length: 72, dtype: object

In [59]:
# Get Specific Items count
dataFrame['Color'].value_counts()['WHITE']

226

In [61]:
dataFrame['DogName'].value_counts()['ELLIE']

11

In [63]:
# Count Unique Value ---> Size (Group By)
dataFrame.groupby('Color').size()

Color
APRICOT              15
BEIGE                 5
BLACK               371
BLACK WITH WHITE     21
BLACK/BRINDLE         5
                   ...
WHITE/ORANGE          5
WHITE/RED            14
WHITE/TAN            50
WHITE/YELLOW          2
YELLOW               51
Length: 72, dtype: int64

In [65]:
dataFrame.groupby('Color').count()

                  Breed  DogName  OwnerZip
Color
APRICOT              15       15        15
BEIGE                 5        5         5
BLACK               371      371       371
BLACK WITH WHITE     21       21        21
BLACK/BRINDLE         5        5         5
...                 ...      ...       ...
WHITE/ORANGE          5        5         5
WHITE/RED            14       14        14
WHITE/TAN            50       50        50
WHITE/YELLOW          2        2         2
YELLOW               51       51        51

[72 rows x 3 columns]